body{
  background-image: url('../images/asking2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed
}

#infoCliente{
  background: rgba(225, 225, 225, 1);
  margin-top: 40px;
}

#pedido{
  position: relative;
  width: 100%;
  height: 540px;
  background: rgba(11, 11, 11, .75);
  margin-top: 45px;
  margin-bottom: 30px;
  padding: 0px
}

#pedidoss{
  padding: 0px
}

.productCard{
  user-select: none;
  background: rgba(195, 195, 195, 1);
}

.total{
  font-size: 24px;
  color: #bcaaa4;
  text-decoration: underline;
}

.endbar{
  margin: 16px;
}

.subcont{
  margin: 30px;
}
th, td {
  color: #bdbdbd;
    width: 130px;
    word-wrap: break-word;
}
/*Creates table with scrollable tbody*/
::-webkit-scrollbar {
    display: none;
}


tbody {
  display:block;
  height:380px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
}

.thbut{
  width: 60px;
  word-wrap: break-word;
}

.thproduct{
  width: 205px;
  word-wrap: break-word;
}

.thcant{
  width: 80px;
  word-wrap: break-word;
}

.card-title{
  padding-left: 24px;
  padding-top: 24px;
}

.ask{
  position: relative;
  margin-top: 25px;
}

.datos{
  padding-left: 0px !important;
  padding-bottom: 25px;
  margin: 0px;
}

.datosInfo{
  padding: 2px !important;
  margin: 0px;
}

.submsg{
  text-decoration: underline;
  font-size: 14px;
  user-select: none;
}

.submsg:hover{
  column-fill: #424242;
  cursor: pointer;
  color: #424242 !important;
}

.afuera{
  padding-left: 32px !important;
  padding-right: 0px !important;
  padding-bottom: 20px !important;
}

.carousel{
  height: 440px;
}

.leCarrus{
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.leColum{
  position: relative;
  height: 440px;
}

.card.large{
  width: 250px;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.flow-text{
  font-size: 14px;
  user-select: none;
}
.cantidad{
  color: #bcaaa4;
}
.dinero{
  margin-top: 0px;
  color: #1b5e20;
}
.cardAc{
  margin-bottom: 0px;
  padding-bottom: 2px !important;
}
