body{
  background-image: url('../images/back.jpg');
  background-size: cover;
}

label{
  user-select: none;
}

#Register{
  background: rgba(225, 225, 225, 1);
}

#login{
  background: rgba(225, 225, 225, 1);
  margin-top: 90px;
}

#infoMoonBread{
  position: relative;
  width:100%;
  height: 500px;
  background: rgba(11, 11, 11, .7);
  margin-top: 50px;
  margin-bottom: 55px;
  padding: 0px
}

#infoText{
  position: relative;
  margin-top: 50px;
  padding-left: 115px;
  padding-top: 25px;
}

.formulario{
  margin-bottom: 6px !important;
}

.submsg{
  font-size: 14px;
  user-select: none;
}

.submsg:hover{
  column-fill: #424242;
  cursor: pointer;
  color: #424242 !important;
}

.infoMoonBread{
  padding: 0px !important;
}

.home{
  position: relative;
  margin-top: 25px;
}
.card .card-content{
  padding-bottom: 6px;
  padding-top: 12px;
}

.card-title{
  padding-left: 24px;
  padding-top: 24px;
}

.registrame{
  margin-top: 14px;
}

.material-icons{
  margin-left : 2px;
  margin-right : 2px;
}

.credenciales{
  margin-top: 8px;
}

.campo{
  margin-top: 8px;
  margin-bottom: 8px;
}

.separator{
  margin: 20px;
}

#root{
  position: relative;
}
